<div class="d-flex justify-content-center">
  <ul class="list-group" style="width:50vw">
    {{#each records}}
    <li class="list-group-item" style="color:dimgray">
      <div class="row">
        <div class="col-1 my-auto" >
          <i class="fs-2 {{this.icon}}" style="color:lightblue"></i>
        </div>
        <div class="col-6">
          <div class="fs-5">
            {{this.name}}
          </div>
          <div class="date">
            {{this.date}}
          </div>
        </div>
        <div class="col-2 my-auto">
          {{this.amount}} 元
        </div>
        <div class="col-3 my-auto">
        <a class="btn btn-light" href="./records/{{ this._id }}/edit">修改</a>
        <a class="btn btn-light">刪除</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
<div class="d-flex justify-content-center m-5">
  <a class="btn btn-dark px-5" style="background-color: #e3885b;" href="/records/new">新增支出</a>
</div>
  